.profile {
  max-width: 100%;
  height: 100%;
  background-color: var(--blue-800);
  border-radius: 4%;
  display: flex;
  flex-direction: column;
}

.card {
  padding: 24px;
  background-color: var(--blue-400);
  border-radius: 4%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
  gap: 32px;
}

.photo {
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 50%;
}

.subtitle {
  margin: 8px 0;
  font-size: var(--fs-little);
  font-weight: var(--weight-light);
}

.title {
  margin: 0;
  font-size: 32px;
  font-weight: var(--weight-light);
}

.periods {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 18px;
}

.period {
  margin: 0;
  font-size: var(--fs-base);
  font-weight: var(--weight-light);
  cursor: pointer;
  color: var(--blue-200);
}

.period:hover {
  color: white;
}

.activePeriod {
  color: white;
}
