.orange {
  background: url(../../icons/icon-work.svg), var(--red-200);
}

.blue {
  background: url(../../icons/icon-play.svg), var(--blue-100);
}

.red {
  background: url(../../icons/icon-study.svg), var(--red-300);
}

.green {
  background: url(../../icons/icon-exercise.svg), var(--green-200);
}

.violet {
  background: url(../../icons/icon-social.svg), var(--violet-400);
}

.yellow {
  background: url(../../icons/icon-self-care.svg), var(--orange-100);
}

.item {
  position: relative;
  margin: 0;
  padding-top: 34px;
  max-width: 330px;
  background-position: 93% -4%;
  background-size: 64px;
  background-repeat: no-repeat;
  border-radius: 4%;
}

.content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--blue-800);
  padding: 24px;
  border-radius: 4%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: var(--fs-base);
  font-weight: var(--weight-normal);
}

.decoration svg path {
  fill: white;
}

.decoration svg:hover path {
  fill: var(--blue-100);
}

.time {
  margin: 24px 0 16px;
  font-size: var(--fs-big);
}

.lastPeriod {
  margin: 0;
  font-size: var(--fs-little);
  font-weight: var(--weight-light);
}
