.dashboard {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.profile {
  grid-area: 1 / 1 / 3 / 2;
}
.work {
  grid-area: 1 / 2 / 2 / 3;
}
.play {
  grid-area: 1 / 3 / 2 / 4;
}
.study {
  grid-area: 1 / 4 / 2 / 5;
}
.exercise {
  grid-area: 2 / 2 / 3 / 3;
}
.social {
  grid-area: 2 / 3 / 3 / 4;
}
.selfCare {
  grid-area: 2 / 4 / 3 / 5;
}
