.attribution {
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;

  color: var(--blue-200);
  font-size: var(--fs-base);
  font-weight: var(--weight-light);
}

.attribution a {
  padding: 0 8px;
  color: var(--blue-200);
  border-radius: var(--radius);
  background-color: var(--blue-800);
  text-decoration: none;
}
